<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='styles.css') }}" rel = "stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
        <title>PWA</title>
    </head>

    <body>
        <script>
            // this applies inline-css to provide button functionality to
            // display or hide products nav-menu.
            function toggleMenu(){
                const nav = window.document.getElementById("nav-menu");
                if(window.document.body.clientWidth < 1000){
                    if(nav.style.display === "flex"){
                        nav.style.display = "none";
                    } else {
                        nav.style.display = "flex";
                    }
                }
            }

            function toggleTitle(){
                window.document.getElementById("title-h2").innerHTML = "new text";
            }
        </script>

        <form action="/" id="dataset-form" method="post" >

        <select id="dataset" name="url" form="dataset-form">
          <option value="dib"  >data is beautiful</option>
          <option value="tweets">tweets</option>
        </select>
          <input type="submit">
        </form>

        <div id="container">

            <div id="title">
                <h2 id="title-h2">DATA STREAM ANALYSIS</h2>
            </div>

            <div id ="search" style="background-color: black">
            </div>

            <div id="main" >
                {% for item in items %}
                  <div class="col-test" id="{{ name }}">{{ item }}</div>
                {% endfor %}
            </div>


            <div id="footer">
                <nav id="icons-footer">
                    <ul>
                        <li class="icon-foot"><a href = ""><i class="fas fa-rocket"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>
</html>
