<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='styles.css') }}" rel = "stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
        <title>PWA</title>
    </head>

    <body>
        <script>
            // this applies inline-css to provide button functionality to
            // display or hide products nav-menu.
            function toggleMenu(){
                const nav = window.document.getElementById("nav-menu");
                if(window.document.body.clientWidth < 1000){
                    if(nav.style.display === "flex"){
                        nav.style.display = "none";
                    } else {
                        nav.style.display = "flex";
                    }
                }
            }
        </script>

<!--        <form action="http://localhost:5000" method="post">-->
<!--&lt;!&ndash;            <label for="cars">Choose a car:</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <select id="cars">&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="volvo">Volvo</option>&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="saab">Saab</option>&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="mercedes">Mercedes</option>&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="audi">Audi</option>&ndash;&gt;-->
<!--&lt;!&ndash;            </select>&ndash;&gt;-->
<!--            <input type="text" name="url">-->
<!--            <input type="submit">-->
<!--        </form>-->

        <form action="http://localhost:5000" id="carform" method="post">
<!--          <label for="fname">Firstname:</label>-->
<!--          <input type="text" id="fname" name="url">-->
<!--            <label for="cars">Choose a car:</label>-->
        <select id="cars" name="url" form="carform">
          <option value="dib">data is beautiful</option>
          <option value="tweets">tweets</option>
        </select>
          <input type="submit">
        </form>

        <div id="container">

            <div id="title">
                <h2>Tweet stream</h2>
            </div>

            <div id ="search" style="background-color: black">
<!--       WIP         <div id="search-input">-->
<!--                    <form method="POST">-->
<!--                        <label>-->
<!--                            <input type="text" class="input" name="tag" placeholder="">-->
<!--                            <i class="fas fa-search" type="submit" value="Submit"></i>-->
<!--                        </label>-->
<!--                    </form>-->
<!--                </div>-->
            </div>

            <div id="main" >
                {% for item in items %}
                  <div class="col-test" id="{{ name }}">{{ item }}</div>
                {% endfor %}
            </div>


            <div id="footer">
                <nav id="icons-footer">
                    <ul>
                        <li class="icon-foot"><a href = ""><i class="fas fa-rocket"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>
</html>
